.clubCategoryContainer {
  width: 70%;
  height: auto;
  margin: 0 15%;
  padding: 3% 3%;
  background-color: #fffdf8;
}

.pageNationButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 90;
  font-size: 2rem;
}

.pageNationPages {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

.selectedPage {
  color: red;
}

@media (max-width: 1024px) {
  .clubCategoryContainer {
    width: 100%;
    margin: 0;
  }
}
