.mainContainer {
  width: 70%;
  height: auto;
  margin: 0 15%;
  padding: 3% 3%;
  background-color: #fffdf8;
}

@media (max-width: 1024px) {
  .mainContainer {
    width: 100%;
    margin: 0;
  }
}
