.topNavContainer {
  width: 70%;
  height: 48px;
  background-color: #fffdf8;
  margin: 0 15%;
  display: flex;
  padding-bottom: 22px;
  box-sizing: content-box;
  z-index: 999;
}
.Logo {
  width: 120px;
  height: 37px;
  font-weight: 900;
  color: #b22222;
  font-size: 26px;
}
.headerBox {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarButtonBox {
  box-sizing: border-box;
  position: relative;
  right: 10px;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  cursor: -webkit-grab;
  align-items: center;
}
/* .searchButton {
  all: unset;
  margin-right: 10px;
} */

/* .searchInputLabel {
  position: relative;
}

.inScreenSearch {
  position: absolute;
  bottom: 1px;
  right: 8px;
  font-size: 13px;
  border: 0;
  color: rgb(202, 202, 202);
  background-color: white;
  width: 20px;
  border-radius: 16px;
} */
/* .searchScreen {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 3rem;
} */
/* 
.searchInput {
  height: 2.5rem;
  width: 280px;
  border-radius: 1rem;
  position: relative;
  padding-left: 10px;
  border: 1px solid black;
}

.searchInput::placeholder {
  color: #b22222;
  font-size: 16px;
  font-weight: 250;
  position: absolute;
  left: 6px;
  top: 2px;
  padding-left: 10px;
} */

.navMenuIcon {
  width: 90px;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .topNavContainer {
    width: 100%;
    margin: 0;
  }
}

.dropdownLabel {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  position: relative;
}
.myMenuList {
  display: none;
  position: absolute;
  width: 100%;
}
.menuList {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}
.aboutMyMenuHidden {
  background: rgb(248, 245, 245);
  box-shadow: 0 4px 5px 0 #00000026;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 170px;
  position: absolute;
  width: 25%;
  top: 42px;
  right: 10px;
  z-index: 900;
}
.logoutButton {
  border: 0;
  background-color: transparent;
  font-size: 14px;
  padding: 0;
}
.logoutList,
.loginList,
.myInfoList,
.myMeetList {
  display: flex;
  justify-content: center;
}
