.NavContainer {
  width: 70%;
  height: 48px;
  background-color: #fffdf8;
  margin: 0 15%;
  display: flex;
  padding-bottom: 22px;
  box-sizing: content-box;
}
.Logo {
  width: 71px;
  height: 37px;
  font-weight: 900;
  color: #b22222;
  font-size: 26px;
}
.header-box {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-button-box {
  box-sizing: border-box;
  position: relative;
  right: 10px;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  cursor: -webkit-grab;
  align-items: center;
}
.search-button {
  all: unset;
  margin-right: 10px;
}

label {
  position: relative;
}

.inScreen-search {
  position: absolute;
  bottom: 5px;
  right: 8px;
  font-size: 13px;
  border: 0;
  color: rgb(202, 202, 202);
  background-color: white;
  width: 20px;
  border-radius: 16px;
}
.search-screen {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 2.4rem;
}

.searchInput {
  height: 1.8rem;
  width: 280px;
  border-radius: 1rem;
  position: relative;
  padding-left: 10px; /*입력필드 커서 이동 */
  border: 1px solid black;
}

.searchInput::placeholder {
  color: #b22222;
  font-size: 16px;
  font-weight: 250;
  position: absolute;
  left: 6px;
  top: 2px;
  padding-left: 10px;
}

.icon-container {
  width: 69px;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .NavContainer {
    width: 100%;
    margin: 0;
  }
}
