.CreateMeetContainer {
  width: 70%;
  height: auto;
  margin: 0 15%;
  padding: 3% 0;
  background-color: #fffdf8;
}

input[type="checkbox"] {
  display: none;
}

.formContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 35px;
  gap: 30px;
}
.contentBox {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100px;
  gap: 10px;
}

.catBox {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  width: 100%;
  height: auto;
  font-size: 2rem;
  justify-content: center;
  position: relative;
}

.selected {
  background-color: #b22222;
  color: white;
}
.catBox div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.namePlaceBox {
  display: flex;
  padding: 2% 2%;
  gap: 20px;
}

.namePlaceBox div {
  gap: 20px;
  font-size: 2rem;
  width: 100%;
  padding-bottom: 4%;
  padding-left: 10px;
}

.namePlaceBox input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 3px 15px;
}

.namePlaceBox textarea {
  width: 99%;
  margin-top: 5px;
}

.meetPlace {
  margin-left: 2%;
}

.meetIntro {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  width: 100%;
  gap: 10px;
  font-size: 2rem;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  width: 100%;
  gap: 10px;
  font-size: 2rem;
}

.photoContainer h4 {
  font-size: 1.8rem;
  color: gray;
  width: 50%;
}

.photoTextBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.photoTextBox input {
  width: 50%;
  color: gray;
}

.photoContainer img {
  display: flex;
  width: 800px;
  height: 500px;
}

.imgBox {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.subBox {
  display: flex;
  justify-content: center;
}

.submit {
  background-color: #b22222;
  color: white;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  font-weight: bold;
}

.catBox:hover {
  /* 마우스 호버 시 스타일 */
  transform: scale(1.1); /* 살짝 커지는 효과 */
  transition: 0.3s;
}
.submit:hover {
  transform: scale(1.1); /* 살짝 커지는 효과 */
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .CreateMeetContainer {
    width: 100%;
    margin: 0;
  }
}
