.meetingAlbumBox {
  width: 100%;
  height: auto;
  display: flex;
}

.albumBox {
  width: 100%;
  height: 0;
  padding-top: 100%; /* 가로 세로 비율 유지 */
  position: relative;
}

.albumImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgb(132, 132, 132);
}

.wrapAlbum {
  height: auto;
  width: 97%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    4,
    minmax(200px, 1fr)
  ); /* 반응형으로 열의 크기 조정 */
  grid-gap: 20px;

  box-sizing: content-box;
  padding-bottom: 500px;
}

@media screen and (max-width: 1300px) and (min-width: 545px) {
  .wrapAlbum {
    grid-template-columns: repeat(3, minmax(148px, 1fr));
  }
}

@media screen and (max-width: 544px) {
  .wrapAlbum {
    grid-template-columns: repeat(2, minmax(148px, 1fr));
  }
}
