.meetScreenContainer {
  width: 70%;
  height: auto;
  margin: 0 15%;
  background-color: #fffdf8;
}
.meethomeTop {
  position: relative;
}
.repMeetImgBox {
  height: 400px;
  padding-top: 250px;
}
.changePageIconBox {
  width: 12%;
  height: 48px;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 10px;
  right: 6px;
}
.changePageIconBox > .meetHomeIcons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
}
.personIconBtn,
.meetOutBtn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameOfMeeting {
  display: flex;
}
.meetingTitleName {
  padding-left: 49px;
}
.aboutUserNumber {
  display: flex;
  padding-left: 49px;
  width: 18%;
  justify-content: space-between;
}
.createPost {
  position: absolute;
  bottom: 10px;
  right: 150px;
  background-color: #5f5e5e;
  width: 100px;
  height: 36px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
}
.createPostBtn {
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 700;
}
.enterMeet {
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.5px;
  position: fixed;
  bottom: 10px;

  left: 50%;
  transform: translateX(-50%);
}
.enterBtn {
  color: white;
  font-size: 22px;
  font-weight: 560;
}

@media screen and (max-width: 1240px) {
  .aboutUserNumber {
    display: flex;
    padding-left: 49px;
    width: 27%;
    justify-content: space-between;
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .aboutUserNumber {
    display: flex;
    padding-left: 49px;
    width: 20%;
    justify-content: space-between;
    font-size: 12px;
  }
}
@media screen and (max-width: 920px) {
  .aboutUserNumber {
    display: flex;
    padding-left: 49px;
    width: 20%;
    justify-content: space-between;
    font-size: 11px;
  }
}

@media screen and (max-width: 760px) {
  .aboutUserNumber {
    display: none;
  }
}

@media (max-width: 1024px) {
  .meetScreenContainer {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 755px) {
  .changePageIconBox {
    width: 90%;
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 6px;
  }
  .changePageIconBox > .meetHomeIcons {
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
  }

  .personIconBtn,
  .meetOutBtn {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
